* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}

:root {
  --color-primary: #040404;
  --color-secondary: #EA3684;
  --color-secondary2: #598a6d;
  --color-text: #222;
  --color-white1: #F0F8F8;
  --color-white: #F1F1F1;
  --color-p: #465b52;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--color-text);
}

h2 {
  font-size: 48px;
  line-height: 64px;
  color: var(--color-text);
}

h4 {
  font-size: 20px;
  color: var(--color-primary);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  background-color: #000;
  color: var(--color-white);
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
button.normal:hover {
  transform: translateY(1);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: var(--color-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#header #navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#header #navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fafafa;
  transition: 0.3s ease;
}
#header #navbar li a:hover, #header #navbar li a.active {
  color: var(--color-secondary);
}
#header #navbar li a:hover::after, #header #navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--color-secondary);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#header #mobile {
  display: none;
  align-items: center;
}
#header #close {
  display: none;
}

#hero {
  background-image: url(../imgs/hero/hero.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#hero .controls {
  display: flex;
  justify-content: space-around;
  gap: 4rem;
}
#hero .controls a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.1rem;
}
#hero .controls a:hover {
  color: var(--color-secondary);
}
#hero h2 {
  color: var(--color-secondary);
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  min-height: 160px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(231, 192, 93);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  color: var(--color-secondary);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: var(--color-white);
  font-weight: 500;
  color: var(--color-secondary);
  border: 1px solid var(--color-white);
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#product1 .pro .cart:hover {
  color: var(--color-white);
  background-color: var(--color-secondary2);
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea8;
}
#newsletter p span {
  color: var(--color-secondary);
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.125em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: var(--color-primary);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*single product*/
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#page-header.about-header {
  background-image: url(../imgs/about/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

#about-head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#about-head img {
  width: 100%;
  height: auto;
}
#about-head div {
  padding-left: 40px;
}

#map .map-cont {
  width: auto;
  height: auto;
  border: 1px solid var(--color-secondary);
}
#map .map-cont .area-map {
  width: 100%;
}

#modells {
  text-align: start;
}
#modells .parent {
  height: auto;
  border-radius: 8px;
  border: 1px solid #d7ebd9;
  margin-bottom: 2rem;
}
#modells .parent h3 {
  margin: 0.5rem 2rem;
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
}
#modells .parent .mod-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
#modells .parent .mod-container .mod {
  width: 21%;
  min-width: 250px;
  padding: 8px 8px;
  border: 1px solid var(--color-white);
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 8px 1rem;
  transition: 0.2s ease;
  position: relative;
}
#modells .parent .mod-container img {
  width: 100%;
  border-radius: 12px;
  min-height: 160px;
}
#modells .parent .mod-container .details {
  line-height: 8px;
  padding: 4px 8px;
  font-size: 1rem;
}
#modells .parent .mod-container .details span {
  color: var(--color-p);
  font-size: 16px;
}

footer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .content .follow {
  margin-bottom: 1rem;
}
footer .content .follow a {
  font-size: 1.3rem;
  margin: 6px;
  color: var(--color-secondary2);
}
footer .content .follow a:hover {
  color: var(--color-secondary);
}

@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 120px;
    background-color: var(--color-primary);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex !important;
    align-items: center;
  }
  #mobile i {
    color: var(--color-white);
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial !important;
    position: absolute;
    top: 30px;
    left: 30px;
    color: var(--color-white);
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #about-head {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 20px;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 18px;
  }
  #hero {
    padding: 0 20px;
  }
  .controls {
    display: flex;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .fe-box {
    width: 150px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    min-width: 300px;
  }
  #about-head {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */